# how data was collected

- The data came from the official Spotify website and from my Spotify statistics.
- I downloaded the data on the Spotify website.
- This dataset makes sense for my project because it shows all of my Spotify data and the data I am collecting is through Spotify.

# data description

- The dataset contains information about my Spotify stats including my top artist for the month and my top track of the month.
- There will be three rows and up to twelve columns of data for each stat because it will show the month, artist/ track, and the amount of plays for the artist or track.
- The month will be labeled 1-11 regardless of the artist stat or track stat. The artist will go numerical from top to bottom along with the track so it corresponds with the month correctly. The plays will correlate with the track/ artist and how many times I played the artist/ track in that month.

# data with stats

In [20]:
top_artist_each_month = monthly_artists.groupby("month").first()
top_song_each_month = monthly_tracks.groupby("month").first()

print("most played artist per month")
display(top_artist_each_month)

print("most played song per month")
display(top_song_each_month)

most played artist per month

                      artist  plays
month
1                  Glee Cast    334
2              One Direction    392
3              One Direction    626
4              One Direction    369
5                  Glee Cast    475
6              One Direction    171
7              One Direction    176
8              One Direction    283
9              One Direction    581
10             One Direction    404
11     Red Hot Chili Peppers    155

most played song per month

                           track  plays
month
1                   Ice Ice Baby     26
2                          Latch     20
3      Mission: Impossible Theme     54
4                     Convenient     24
5                back to friends    155
6              Beauty And A Beat     20
7                back to friends     24
8                back to friends     33
9               Under the Bridge     82
10                    By the Way     71
11                   Purple Rain     78