# ai help
I used ChatGPT to help upload my data so I would be able to u

# how data was collected

- The data came from the official Spotify website and from my Spotify statistics.
- I downloaded the data on the Spotify website.
- This dataset makes sense for my project because it shows all of my Spotify data and the data I am collecting is through Spotify.

# data description

- The dataset contains information about my Spotify stats including my top artist for the month and my top track of the month.
- There will be three rows and up to twelve columns of data for each stat because it will show the month, artist/ track, and the amount of plays for the artist or track.
- The month will be labeled 1-11 regardless of the artist stat or track stat. The artist will go numerical from top to bottom along with the track so it corresponds with the month correctly. The plays will correlate with the track/ artist and how many times I played the artist/ track in that month.

# data with stats

In [9]:
import os
import json
import pandas as pd

folder = "/Users/jenna/Desktop/spotify_data"

records = []

for file in os.listdir(folder):
    if file.endswith(".json"):
        path = os.path.join(folder, file)

        try:
            data = json.load(open(path))
        except:
            continue

        if isinstance(data, dict):
            for key in ["plays", "streams", "items"]:
                if key in data:
                    data = data[key]

        if not isinstance(data, list):
            continue

        for entry in data:
            if not isinstance(entry, dict):
                continue

            ts = entry.get("ts") or entry.get("endTime")
            artist = entry.get("artistName")
            track = entry.get("trackName")

            if ts:
                records.append({
                    "timestamp": ts,
                    "artist": artist,
                    "track": track
                })

df = pd.DataFrame(records)
df["timestamp"] = pd.to_datetime(df["timestamp"], errors="coerce")
df = df.dropna(subset=["timestamp"])

# Filter 2025
df_2025 = df[df["timestamp"].dt.year == 2025].copy()
df_2025["month"] = df_2025["timestamp"].dt.to_period("M")

print("Loaded rows:", len(df_2025))

Loaded rows: 102081

In [10]:
top_artist_per_month = (
    df_2025.groupby(["month", "artist"])
    .size()
    .reset_index(name="plays")
    .sort_values(["month", "plays"], ascending=[True, False])
    .groupby("month")
    .first()
)

top_artist_per_month

                        artist  plays
month
2025-01              Glee Cast    334
2025-02          One Direction    392
2025-03          One Direction    626
2025-04          One Direction    369
2025-05              Glee Cast    475
2025-06          One Direction    171
2025-07          One Direction    176
2025-08          One Direction    283
2025-09          One Direction    581
2025-10          One Direction    404
2025-11  Red Hot Chili Peppers    155

In [11]:
top_song_per_month = (
    df_2025.groupby(["month", "track"])
    .size()
    .reset_index(name="plays")
    .sort_values(["month", "plays"], ascending=[True, False])
    .groupby("month")
    .first()
)

top_song_per_month

                             track  plays
month
2025-01               Ice Ice Baby     26
2025-02                      Latch     20
2025-03  Mission: Impossible Theme     54
2025-04                 Convenient     24
2025-05            back to friends    155
2025-06          Beauty And A Beat     20
2025-07            back to friends     24
2025-08            back to friends     33
2025-09           Under the Bridge     82
2025-10                 By the Way     71
2025-11                Purple Rain     78